<ion-header>
  <ion-toolbar>
    <ion-title>Account Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Sing up</h1>
  <ion-item>
    <ion-label>User ID</ion-label>
    <ion-input placeholder="Enter your user ID"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input placeholder="Enter your password"></ion-input>
  </ion-item>
  <ion-button (click)="presentAlert()">Create Account</ion-button>
  <p>Click <a href="./tabs/tab1">here</a> to go back to log in page</p>
</ion-content>
