h3 {
  font-weight: bold;
}

.content {
  padding: 0 24px 24px 24px;
}

.logo-container {
  height: 240px;
  background-color: #1eadd7;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 16px;
}
