<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="inputField" class="content">
    <h3>Add an entry</h3>
    <ion-list>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-input
          value="{{ date | date: 'MM/dd/yyyy' }}"
          id="date"
          class="ion-text-end"
        ></ion-input>
        <ion-popover trigger="date" size="cover">
          <ng-template>
            <ion-datetime presentation="date" [(ngModel)]="date"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>Weight:</ion-label>
        <ion-input
          [(ngModel)]="weight"
          type="number"
          placeholder="000.0 lb"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [(ngModel)]="date" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-button class="log-button" expand="block" (click)="addLog()"
      >Add</ion-button
    >
  </div>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header> Weight Change </ion-card-header>
      <ion-card-content>
        <canvas
          #lineCanvas
          style="height: 300px"
        ></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>