<ion-header>
  <ion-toolbar>
    <ion-title>Account Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="../assets/icon/logo.png" alt="Logo Image" id="logo" />
    <div class="overlay">
      <div class="text">
        Nice to meet you!<br />We're here to assist your diet
      </div>
    </div>
  </div>
  <div id="signupField">
    <h1>Sing up</h1>
    <ion-item>
      <ion-label>User ID</ion-label>
      <ion-input placeholder="Enter your user ID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input placeholder="Enter your password"></ion-input>
    </ion-item>
    <div id="goal">
      <h2>Let's Set Your Goal</h2>
      <ion-item fill="outline">
        <ion-label position="floating">Name</ion-label>
        <ion-input placeholder="your name"></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Current Weight</ion-label>
        <ion-input placeholder="000.0 lb"></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Height</ion-label>
        <ion-input placeholder="your height"></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Age</ion-label>
        <ion-input placeholder="your age"></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Goal Weight</ion-label>
        <ion-input placeholder="000.0 lb"></ion-input>
      </ion-item>
    </div>
    <ion-button (click)="presentAlert()">Create Account</ion-button>
    <p>Click <a href="./login">here</a> to go back to log in page</p>
  </div>
</ion-content>
