<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log Your Weight</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Add new log</h1>
  <ion-datetime presentation="date" [preferWheel]="true" [showDefaultButtons]="true"></ion-datetime>
  <ion-item>
    <ion-label>Weight:</ion-label>
    <ion-input type="number" placeholder="000.0 lb"></ion-input>
  </ion-item>
  <ion-button>Add</ion-button>


  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Your Weight Change</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>

<div><canvas id="countries" width="600" height="400"></canvas></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
