<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Log </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log Your Weight</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="inputField">
    <h1>Add new log</h1>
    <ion-datetime
      presentation="date"
      [preferWheel]="true"
      [showDefaultButtons]="false"
    ></ion-datetime>
    <ion-item>
      <ion-label>Weight:</ion-label>
      <ion-input type="number" placeholder="000.0 lb"></ion-input>
    </ion-item>
    <ion-button>Add</ion-button>
  </div>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header> Weight Change </ion-card-header>
      <ion-card-content>
        <canvas
          #lineCanvas
          style="position: relative; height: 10vh; width: 20vw"
        ></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
